## Main Question: What do covid case percentages look like compared to the percent of the population vaccinated in Arizona?

In [178]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from operator import truediv

In [179]:
# Import cleaned csv
csvfile1 = "Resources/Cleaned_Vaccine_Case_Data.csv"

# Add as DataFrame
main_df = pd.read_csv(csvfile1)
main_df

,Unnamed: 0,POSTCODE,Total Population,Total Case Count,% Cases Over Age 18,% Cases Over Age 65,Total Cases Category,Total Vaccinated,Total Vaccinated Category,Median Household Income
0,0,85003,8499,1534,46.20,74.49,Greater Than 1000,4898,"1,001-5,000",44140
1,1,85004,7164,969,63.68,61.45,501-1000,4281,"1,001-5,000",41951
2,2,85006,27206,3272,35.85,54.55,Greater Than 1000,6780,"5,001-10,000",38121
3,3,85007,14428,2424,41.44,63.91,Greater Than 1000,4719,"1,001-5,000",34667
4,4,85008,62340,9079,33.01,56.27,Greater Than 1000,14187,"Greater Than 10,000",43574
...,...,...,...,...,...,...,...,...,...,...
339,360,86444,1254,60,34.27,49.25,11-100,450,"11-1,000",46389
340,361,86445,254,12,12.73,20.45,11-100,42,"11-1,000",51150
341,362,86502,1095,497,34.12,47.10,101-500,265,"11-1,000",18542
342,364,86505,8036,137,12.40,36.62,101-500,54,"11-1,000",23767
343,366,86511,3680,1-10,0.19,0.00,1-10,1-10,1-10,29617

In [187]:
# Drop the "Unnamed: 0" column
del main_df["Unnamed: 0"]
main_df

,POSTCODE,Total Population,Total Case Count,% Cases Over Age 18,% Cases Over Age 65,Total Cases Category,Total Vaccinated,Total Vaccinated Category,Median Household Income
0,85003,8499,1534,46.20,74.49,Greater Than 1000,4898,"1,001-5,000",44140
1,85004,7164,969,63.68,61.45,501-1000,4281,"1,001-5,000",41951
2,85006,27206,3272,35.85,54.55,Greater Than 1000,6780,"5,001-10,000",38121
3,85007,14428,2424,41.44,63.91,Greater Than 1000,4719,"1,001-5,000",34667
4,85008,62340,9079,33.01,56.27,Greater Than 1000,14187,"Greater Than 10,000",43574
...,...,...,...,...,...,...,...,...,...
339,86444,1254,60,34.27,49.25,11-100,450,"11-1,000",46389
340,86445,254,12,12.73,20.45,11-100,42,"11-1,000",51150
341,86502,1095,497,34.12,47.10,101-500,265,"11-1,000",18542
342,86505,8036,137,12.40,36.62,101-500,54,"11-1,000",23767
343,86511,3680,1-10,0.19,0.00,1-10,1-10,1-10,29617

In [180]:
# Drop "1-10" values in "Total Case Count"
clean_df = main_df.drop(main_df.loc[main_df["Total Case Count"] == "1-10"].index)
#clean_df = main_df.loc[main_df["Total Case Count"] != "1-10"]
clean_df

# Add new column called "Case Rate"
clean_df["Case Rate"] = " "
clean_df

,Unnamed: 0,POSTCODE,Total Population,Total Case Count,% Cases Over Age 18,% Cases Over Age 65,Total Cases Category,Total Vaccinated,Total Vaccinated Category,Median Household Income,Case Rate
0,0,85003,8499,1534,46.20,74.49,Greater Than 1000,4898,"1,001-5,000",44140,
1,1,85004,7164,969,63.68,61.45,501-1000,4281,"1,001-5,000",41951,
2,2,85006,27206,3272,35.85,54.55,Greater Than 1000,6780,"5,001-10,000",38121,
3,3,85007,14428,2424,41.44,63.91,Greater Than 1000,4719,"1,001-5,000",34667,
4,4,85008,62340,9079,33.01,56.27,Greater Than 1000,14187,"Greater Than 10,000",43574,
...,...,...,...,...,...,...,...,...,...,...,...
337,358,86442,33895,4071,27.17,48.51,Greater Than 1000,7922,"5,001-10,000",39600,
339,360,86444,1254,60,34.27,49.25,11-100,450,"11-1,000",46389,
340,361,86445,254,12,12.73,20.45,11-100,42,"11-1,000",51150,
341,362,86502,1095,497,34.12,47.10,101-500,265,"11-1,000",18542,
342,364,86505,8036,137,12.40,36.62,101-500,54,"11-1,000",23767,

#### Find COVID-19 case rate by zipcode (total cases / total population)

In [181]:
# Create empty list for case rate data, cases, and population
case_rates = []
cases = []
pop = []

# For loop to find rate for each zipcode
for index, row in clean_df.iterrows():
    # Get cases and population totals 
    cases = int(row["Total Case Count"])
    pop = int(row["Total Population"])
    # Take the number of cases and divide it by total population
    try:
        rates = cases / pop
        case_rates.append(rates)

    # If there is a population with 0, enter "0"
    except (ZeroDivisionError):
        case_rates.append(0)
# Store the case rates into dataframe
clean_df["Case Rate"] = case_rates
clean_df["Case Rate"] = clean_df["Case Rate"].astype(float).map("{:.2f}%".format)
clean_df

,Unnamed: 0,POSTCODE,Total Population,Total Case Count,% Cases Over Age 18,% Cases Over Age 65,Total Cases Category,Total Vaccinated,Total Vaccinated Category,Median Household Income,Case Rate
0,0,85003,8499,1534,46.20,74.49,Greater Than 1000,4898,"1,001-5,000",44140,0.18%
1,1,85004,7164,969,63.68,61.45,501-1000,4281,"1,001-5,000",41951,0.14%
2,2,85006,27206,3272,35.85,54.55,Greater Than 1000,6780,"5,001-10,000",38121,0.12%
3,3,85007,14428,2424,41.44,63.91,Greater Than 1000,4719,"1,001-5,000",34667,0.17%
4,4,85008,62340,9079,33.01,56.27,Greater Than 1000,14187,"Greater Than 10,000",43574,0.15%
...,...,...,...,...,...,...,...,...,...,...,...
337,358,86442,33895,4071,27.17,48.51,Greater Than 1000,7922,"5,001-10,000",39600,0.12%
339,360,86444,1254,60,34.27,49.25,11-100,450,"11-1,000",46389,0.05%
340,361,86445,254,12,12.73,20.45,11-100,42,"11-1,000",51150,0.05%
341,362,86502,1095,497,34.12,47.10,101-500,265,"11-1,000",18542,0.45%
342,364,86505,8036,137,12.40,36.62,101-500,54,"11-1,000",23767,0.02%

### Find COVID-19 vaccine rate by zipcode (total vaccinated / total population)

In [182]:
# Drop "1-10" values in "Total Case Count"
vacc_df = clean_df.drop(clean_df.loc[clean_df["Total Vaccinated"] == "1-10"].index)
vacc_df

# Add new column called "Vaccine Case Rate"
vacc_df["Vaccine Rate"] = " "
vacc_df

,Unnamed: 0,POSTCODE,Total Population,Total Case Count,% Cases Over Age 18,% Cases Over Age 65,Total Cases Category,Total Vaccinated,Total Vaccinated Category,Median Household Income,Case Rate,Vaccine Rate
0,0,85003,8499,1534,46.20,74.49,Greater Than 1000,4898,"1,001-5,000",44140,0.18%,
1,1,85004,7164,969,63.68,61.45,501-1000,4281,"1,001-5,000",41951,0.14%,
2,2,85006,27206,3272,35.85,54.55,Greater Than 1000,6780,"5,001-10,000",38121,0.12%,
3,3,85007,14428,2424,41.44,63.91,Greater Than 1000,4719,"1,001-5,000",34667,0.17%,
4,4,85008,62340,9079,33.01,56.27,Greater Than 1000,14187,"Greater Than 10,000",43574,0.15%,
...,...,...,...,...,...,...,...,...,...,...,...,...
337,358,86442,33895,4071,27.17,48.51,Greater Than 1000,7922,"5,001-10,000",39600,0.12%,
339,360,86444,1254,60,34.27,49.25,11-100,450,"11-1,000",46389,0.05%,
340,361,86445,254,12,12.73,20.45,11-100,42,"11-1,000",51150,0.05%,
341,362,86502,1095,497,34.12,47.10,101-500,265,"11-1,000",18542,0.45%,
342,364,86505,8036,137,12.40,36.62,101-500,54,"11-1,000",23767,0.02%,

In [185]:
# Create empty list for vaccine rate data, cases, and population
vaccine_rates = []
total_vacc = []
population = []

# For loop to find rate for each zipcode
for index, row in vacc_df.iterrows():
    # Get cases and population totals 
    total_vacc = int(row["Total Vaccinated"])
    population = int(row["Total Population"])
    # Take the number of cases and divide it by total population
    try:
        vac_rate = total_vacc / population
        vaccine_rates.append(vac_rate)

    # If there is a population with 0, enter "0"
    except (ZeroDivisionError):
        vaccine_rates.append(0)
# Store the case rates into dataframe
vacc_df["Vaccine Rate"] = vaccine_rates
vacc_df["Vaccine Rate"] = vacc_df["Vaccine Rate"].astype(float).map("{:.2f}%".format)
vacc_df

,Unnamed: 0,POSTCODE,Total Population,Total Case Count,% Cases Over Age 18,% Cases Over Age 65,Total Cases Category,Total Vaccinated,Total Vaccinated Category,Median Household Income,Case Rate,Vaccine Rate
0,0,85003,8499,1534,46.20,74.49,Greater Than 1000,4898,"1,001-5,000",44140,0.18%,0.58%
1,1,85004,7164,969,63.68,61.45,501-1000,4281,"1,001-5,000",41951,0.14%,0.60%
2,2,85006,27206,3272,35.85,54.55,Greater Than 1000,6780,"5,001-10,000",38121,0.12%,0.25%
3,3,85007,14428,2424,41.44,63.91,Greater Than 1000,4719,"1,001-5,000",34667,0.17%,0.33%
4,4,85008,62340,9079,33.01,56.27,Greater Than 1000,14187,"Greater Than 10,000",43574,0.15%,0.23%
...,...,...,...,...,...,...,...,...,...,...,...,...
337,358,86442,33895,4071,27.17,48.51,Greater Than 1000,7922,"5,001-10,000",39600,0.12%,0.23%
339,360,86444,1254,60,34.27,49.25,11-100,450,"11-1,000",46389,0.05%,0.36%
340,361,86445,254,12,12.73,20.45,11-100,42,"11-1,000",51150,0.05%,0.17%
341,362,86502,1095,497,34.12,47.10,101-500,265,"11-1,000",18542,0.45%,0.24%
342,364,86505,8036,137,12.40,36.62,101-500,54,"11-1,000",23767,0.02%,0.01%

### Total cases versus total vaccinated

In [186]:
# Organize columns to clean up dataframe 
print(vacc_df.columns)
organized_df = vacc_df[['Unnamed: 0', 'POSTCODE', 'Total Population', 'Total Case Count',
       '% Cases Over Age 18', '% Cases Over Age 65', 'Total Cases Category',
       'Total Vaccinated', 'Total      Vaccinated Category',
       'Median Household Income', 'Case Rate', 'Vaccine Rate']]

# Bar chart of case rate by zipCode 

# Bar chart of vaccine rate by zipcode 

# Compare

Index(['Unnamed: 0', 'POSTCODE', 'Total Population', 'Total Case Count',
       '% Cases Over Age 18', '% Cases Over Age 65', 'Total Cases Category',
       'Total Vaccinated', 'Total      Vaccinated Category',
       'Median Household Income', 'Case Rate', 'Vaccine Rate'],
      dtype='object')

NameError: name 'organized' is not defined