## Main Question: What do covid case percentages look like compared to the percent of the population vaccinated in Arizona?

In [41]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from operator import truediv

In [62]:
# Import cleaned csv
csvfile1 = "Resources/Cleaned_Vaccine_Case_Data.csv"

# Add as DataFrame
main_df = pd.read_csv(csvfile1)
main_df

,Unnamed: 0,POSTCODE,Total Population,Total Case Count,% Cases Over Age 18,% Cases Over Age 65,Total Cases Category,Total Vaccinated,Total Vaccinated Category,Median Household Income
0,0,85003,8499,1534,46.20,74.49,Greater Than 1000,4898,"1,001-5,000",44140
1,1,85004,7164,969,63.68,61.45,501-1000,4281,"1,001-5,000",41951
2,2,85006,27206,3272,35.85,54.55,Greater Than 1000,6780,"5,001-10,000",38121
3,3,85007,14428,2424,41.44,63.91,Greater Than 1000,4719,"1,001-5,000",34667
4,4,85008,62340,9079,33.01,56.27,Greater Than 1000,14187,"Greater Than 10,000",43574
...,...,...,...,...,...,...,...,...,...,...
339,360,86444,1254,60,34.27,49.25,11-100,450,"11-1,000",46389
340,361,86445,254,12,12.73,20.45,11-100,42,"11-1,000",51150
341,362,86502,1095,497,34.12,47.10,101-500,265,"11-1,000",18542
342,364,86505,8036,137,12.40,36.62,101-500,54,"11-1,000",23767
343,366,86511,3680,1-10,0.19,0.00,1-10,1-10,1-10,29617

In [108]:
# Drop "1-10" values in "Total Case Count"
clean_df = main_df.loc[main_df["Total Case Count"] != "1-10"]
clean_df

# Add new column called "Case Rate"
clean_df["Case Rate"] = " "
clean_df

<ipython-input-108-3414356a9722>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df["Case Rate"] = " "

,Unnamed: 0,POSTCODE,Total Population,Total Case Count,% Cases Over Age 18,% Cases Over Age 65,Total Cases Category,Total Vaccinated,Total Vaccinated Category,Median Household Income,Case Rate
0,0,85003,8499,1534,46.20,74.49,Greater Than 1000,4898,"1,001-5,000",44140,
1,1,85004,7164,969,63.68,61.45,501-1000,4281,"1,001-5,000",41951,
2,2,85006,27206,3272,35.85,54.55,Greater Than 1000,6780,"5,001-10,000",38121,
3,3,85007,14428,2424,41.44,63.91,Greater Than 1000,4719,"1,001-5,000",34667,
4,4,85008,62340,9079,33.01,56.27,Greater Than 1000,14187,"Greater Than 10,000",43574,
...,...,...,...,...,...,...,...,...,...,...,...
337,358,86442,33895,4071,27.17,48.51,Greater Than 1000,7922,"5,001-10,000",39600,
339,360,86444,1254,60,34.27,49.25,11-100,450,"11-1,000",46389,
340,361,86445,254,12,12.73,20.45,11-100,42,"11-1,000",51150,
341,362,86502,1095,497,34.12,47.10,101-500,265,"11-1,000",18542,
342,364,86505,8036,137,12.40,36.62,101-500,54,"11-1,000",23767,

#### Find COVID-19 case rate by zipcode (total cases / total population)

In [125]:
# Create empty list for case rate data, cases, and population
case_rates = []
cases = []
pop = []

# For loop to find rate for each zipcode
for index, row in clean_df.iterrows():
    # Get cases and population totals 
    cases = int(row["Total Case Count"])
    pop = int(row["Total Population"])
    # Take the number of cases and divide it by total population
    try:
        rates = [cases / pop]
        case_rates.append(rates)
    # If there is a population with 0, enter "No Rate"
    except (ZeroDivisionError):
        case_rates.append("No rate")
'''        
for case in case_rates:
    case_rates = ['{:.2f}%'.format for case in case_rates]
'''
# Store the case rates into dataframe
clean_df["Case Rates"] = case_rates
#clean_df["Case Rates"] = clean_df["Case Rates"].apply('{:.2f}%'.format)
clean_df

<ipython-input-125-73edcd9460b9>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df["Case Rates"] = case_rates

,Unnamed: 0,POSTCODE,Total Population,Total Case Count,% Cases Over Age 18,% Cases Over Age 65,Total Cases Category,Total Vaccinated,Total Vaccinated Category,Median Household Income,Case Rate,Case Rates
0,0,85003,8499,1534,46.20,74.49,Greater Than 1000,4898,"1,001-5,000",44140,,[0.18049182256736088]
1,1,85004,7164,969,63.68,61.45,501-1000,4281,"1,001-5,000",41951,,[0.13525963149078726]
2,2,85006,27206,3272,35.85,54.55,Greater Than 1000,6780,"5,001-10,000",38121,,[0.12026758803205176]
3,3,85007,14428,2424,41.44,63.91,Greater Than 1000,4719,"1,001-5,000",34667,,[0.16800665372886056]
4,4,85008,62340,9079,33.01,56.27,Greater Than 1000,14187,"Greater Than 10,000",43574,,[0.14563683028553095]
...,...,...,...,...,...,...,...,...,...,...,...,...
337,358,86442,33895,4071,27.17,48.51,Greater Than 1000,7922,"5,001-10,000",39600,,[0.12010621035550967]
339,360,86444,1254,60,34.27,49.25,11-100,450,"11-1,000",46389,,[0.04784688995215311]
340,361,86445,254,12,12.73,20.45,11-100,42,"11-1,000",51150,,[0.047244094488188976]
341,362,86502,1095,497,34.12,47.10,101-500,265,"11-1,000",18542,,[0.45388127853881277]
342,364,86505,8036,137,12.40,36.62,101-500,54,"11-1,000",23767,,[0.017048282727725236]

In [ ]:
# Reorganize columns 
'''
# Create empty list for case rate data
case_rates = []
#cases = []
#pop = []
# For loop
for i in enumerate(clean_df["POSTCODE"]):
    cases = [clean_df["Total Case Count"]]
    pop = [clean_df["Total Population"]]
    #cases.append(clean_df.loc[i, 3])
    #pop.append(float(clean_df.loc[i, 2]))
    # Convert the lists into arrays         
    #cases = np.array(cases)
    #pop = np.array(pop)
    # take the number of cases and divide it by total population
    rates = [cases / pop] 
#rates = [i / j for i, j in zip(cases, pop)]
   # rates = list(map(truediv, cases, pop))
    # append this to an empty list
    #case_rates.append(rates)
'''

In [ ]:
# Total vaccinated versus total population

In [ ]:
# Total cases versus total vaccinated