In [1]:
# Import Depedencies 
import pandas as pd

In [73]:
# Determine CSV paths for each  

#COVID Cases by Zipcode 
csvfile1 = "Resources/AZ_Covid Cases.csv"

#COVID Vaccination Rates by Zipcode
csvfile2 = "Resources/AZ_Vac_Count_Rate.csv"

# Median Income by Zipcode 
csvfile3 = "Resources/Income_ZipCode.csv"

# Population by Zipcode 
csvfile4 = "Resources/Population_zipcode.csv"

cases_df = pd.read_csv(csvfile1)
vacc_df = pd.read_csv(csvfile2)
income_df = pd.read_csv(csvfile3)
income_df['POSTCODE'] = income_df['POSTCODE'].astype(str)
population_df = pd.read_csv(csvfile4)
population_df['POSTCODE'] = population_df['POSTCODE'].astype(str)
population_df.head()

  POSTCODE  TotalPopulation
0    85003             8499
1    85004             7164
2    85006            27206
3    85007            14428
4    85008            62340

In [74]:
# Merge dataframes 
merged_df = pd.merge(pd.merge(cases_df, vacc_df, on='POSTCODE'), income_df, on='POSTCODE') 
merged_df = pd.merge(merged_df, population_df, on='POSTCODE')
merged_df.head()

,POSTCODE,ConfirmedCaseCategory,ConfirmedCaseCount,Unnamed: 0,percentOver18,CategoryOver18,PercentOver65,CategoryOver65,NumberOfPeopleVaccinated,NumberOfPeopleVaccinatedCategory,Median Household Income,TotalPopulation
0,85003,Greater Than 1000,1534,0,46.2,26-55,74.49,56-75,4898,"1,001-5,000",44140,8499
1,85004,501-1000,969,1,63.68,56-75,61.45,56-75,4281,"1,001-5,000",41951,7164
2,85006,Greater Than 1000,3272,2,35.85,26-55,54.55,26-55,6780,"5,001-10,000",38121,27206
3,85007,Greater Than 1000,2424,3,41.44,26-55,63.91,56-75,4719,"1,001-5,000",34667,14428
4,85008,Greater Than 1000,9079,4,33.01,26-55,56.27,56-75,14187,"Greater Than 10,000",43574,62340

In [75]:
merged_df = merged_df.drop(columns='Unnamed: 0')
merged_df

,POSTCODE,ConfirmedCaseCategory,ConfirmedCaseCount,percentOver18,CategoryOver18,PercentOver65,CategoryOver65,NumberOfPeopleVaccinated,NumberOfPeopleVaccinatedCategory,Median Household Income,TotalPopulation
0,85003,Greater Than 1000,1534,46.2,26-55,74.49,56-75,4898,"1,001-5,000",44140,8499
1,85004,501-1000,969,63.68,56-75,61.45,56-75,4281,"1,001-5,000",41951,7164
2,85006,Greater Than 1000,3272,35.85,26-55,54.55,26-55,6780,"5,001-10,000",38121,27206
3,85007,Greater Than 1000,2424,41.44,26-55,63.91,56-75,4719,"1,001-5,000",34667,14428
4,85008,Greater Than 1000,9079,33.01,26-55,56.27,56-75,14187,"Greater Than 10,000",43574,62340
...,...,...,...,...,...,...,...,...,...,...,...
364,86505,101-500,137,12.4,11-25,36.62,26-55,54,"11-1,000",23767,8036
365,86507,0,0,NaN,0,NaN,0,0,0,22885,2323
366,86511,1-10,1-10,0.19,1-10,0,0,1-10,1-10,29617,3680
367,86514,0,0,NaN,0,NaN,0,0,0,27600,3258
368,86515,0,0,0,0,0,0,0,0,30196,4251

In [80]:
merged_df = merged_df.dropna()
merged_clean_df = merged_df.loc[(merged_df['ConfirmedCaseCount'] != '0') & (merged_df['NumberOfPeopleVaccinated'] != '0')]
merged_clean_df = merged_clean_df.rename(columns={'ConfirmedCaseCategory': 'Total Cases Category','ConfirmedCaseCount': 'Total Case Count', 'percentOver18': '% Cases Over Age 18',
                                                    'PercentOver65': '% Cases Over Age 65', 'NumberOfPeopleVaccinated': 'Total Vaccinated', 'NumberOfPeopleVaccinatedCategory': 'Total      Vaccinated Category', 'TotalPopulation': 'Total Population'})
final_clean_df = merged_clean_df[['POSTCODE', 'Total Population', 'Total Case Count', '% Cases Over Age 18', '% Cases Over Age 65', 'Total Cases Category', 'Total Vaccinated', 'Total      Vaccinated Category', 'Median Household Income']]
final_clean_df

,POSTCODE,Total Population,Total Case Count,% Cases Over Age 18,% Cases Over Age 65,Total Cases Category,Total Vaccinated,Total Vaccinated Category,Median Household Income
0,85003,8499,1534,46.2,74.49,Greater Than 1000,4898,"1,001-5,000",44140
1,85004,7164,969,63.68,61.45,501-1000,4281,"1,001-5,000",41951
2,85006,27206,3272,35.85,54.55,Greater Than 1000,6780,"5,001-10,000",38121
3,85007,14428,2424,41.44,63.91,Greater Than 1000,4719,"1,001-5,000",34667
4,85008,62340,9079,33.01,56.27,Greater Than 1000,14187,"Greater Than 10,000",43574
...,...,...,...,...,...,...,...,...,...
360,86444,1254,60,34.27,49.25,11-100,450,"11-1,000",46389
361,86445,254,12,12.73,20.45,11-100,42,"11-1,000",51150
362,86502,1095,497,34.12,47.1,101-500,265,"11-1,000",18542
364,86505,8036,137,12.4,36.62,101-500,54,"11-1,000",23767
366,86511,3680,1-10,0.19,0,1-10,1-10,1-10,29617

In [82]:
#Export Dataframe to CSV

final_clean_df.to_csv('Resources/Cleaned_Vaccine_Case_Data.csv')