In [8]:
# Import Depedencies 
import pandas as pd

In [14]:
# Determine CSV paths for each  

#COVID Cases by Zipcode 
csvfile1 = "Resources/AZ_Covid Cases.csv"

#COVID Vaccination Rates by Zipcode
csvfile2 = "Resources/AZ_Vac_Count_Rate.csv"

# Median Income by Zipcode 
csvfile3 = "Resources/Income_ZipCode.csv"

cases_df = pd.read_csv(csvfile1)
vacc_df = pd.read_csv(csvfile2)
income_df = pd.read_csv(csvfile3)
income_df.head()

   POSTCODE Median Household Income
0     85003                   44140
1     85004                   41951
2     85006                   38121
3     85007                   34667
4     85008                   43574

In [ ]:
# Merge dataframes