In [1]:
# Import Depedencies 
import pandas as pd

In [34]:
# Determine CSV paths for each  

#COVID Cases by Zipcode 
csvfile1 = "Resources/AZ_Covid Cases.csv"

#COVID Vaccination Rates by Zipcode
csvfile2 = "Resources/AZ_Vac_Count_Rate.csv"

# Median Income by Zipcode 
csvfile3 = "Resources/Income_ZipCode.csv"

cases_df = pd.read_csv(csvfile1)
vacc_df = pd.read_csv(csvfile2)
income_df = pd.read_csv(csvfile3)
income_df['POSTCODE'] = income_df['POSTCODE'].astype(str)
income_df.head()
#type(income_df['POSTCODE'][0])

  POSTCODE Median Household Income
0    85003                   44140
1    85004                   41951
2    85006                   38121
3    85007                   34667
4    85008                   43574

In [35]:
# Merge dataframes 
merged_df = pd.merge(pd.merge(cases_df, vacc_df, on='POSTCODE'), income_df, on='POSTCODE') 
merged_df.head()

,POSTCODE,ConfirmedCaseCategory,ConfirmedCaseCount,Unnamed: 0,percentOver18,CategoryOver18,PercentOver65,CategoryOver65,NumberOfPeopleVaccinated,NumberOfPeopleVaccinatedCategory,Median Household Income
0,85003,Greater Than 1000,1534,0,46.2,26-55,74.49,56-75,4898,"1,001-5,000",44140
1,85004,501-1000,969,1,63.68,56-75,61.45,56-75,4281,"1,001-5,000",41951
2,85006,Greater Than 1000,3272,2,35.85,26-55,54.55,26-55,6780,"5,001-10,000",38121
3,85007,Greater Than 1000,2424,3,41.44,26-55,63.91,56-75,4719,"1,001-5,000",34667
4,85008,Greater Than 1000,9079,4,33.01,26-55,56.27,56-75,14187,"Greater Than 10,000",43574