In [139]:
# Import Depedencies 
import pandas as pd

In [140]:
# Import cleaned csv
csvfile1 = "Resources/Cleaned_Vaccine_Case_Data.csv"

# Add as DataFrame
main_df = pd.read_csv(csvfile1)
main_df

,Unnamed: 0,POSTCODE,Total Population,Total Case Count,% Cases Over Age 18,% Cases Over Age 65,Total Cases Category,Total Vaccinated,Total Vaccinated Category,Median Household Income
0,0,85003,8499,1534,46.20,74.49,Greater Than 1000,4898,"1,001-5,000",44140
1,1,85004,7164,969,63.68,61.45,501-1000,4281,"1,001-5,000",41951
2,2,85006,27206,3272,35.85,54.55,Greater Than 1000,6780,"5,001-10,000",38121
3,3,85007,14428,2424,41.44,63.91,Greater Than 1000,4719,"1,001-5,000",34667
4,4,85008,62340,9079,33.01,56.27,Greater Than 1000,14187,"Greater Than 10,000",43574
...,...,...,...,...,...,...,...,...,...,...
339,360,86444,1254,60,34.27,49.25,11-100,450,"11-1,000",46389
340,361,86445,254,12,12.73,20.45,11-100,42,"11-1,000",51150
341,362,86502,1095,497,34.12,47.10,101-500,265,"11-1,000",18542
342,364,86505,8036,137,12.40,36.62,101-500,54,"11-1,000",23767
343,366,86511,3680,1-10,0.19,0.00,1-10,1-10,1-10,29617

In [141]:
main_clean_salary_df = main_df.loc[main_df['Median Household Income'] != '-']
#main_clean_salary_df['POSTCODE'] = main_clean_salary_df['POSTCODE'].astype(str)
type(main_clean_salary_df['POSTCODE'][1])
#main_clean_salary_df

numpy.int64

In [152]:
csvfile2 = "Resources/Vaccine_Distribution.csv"
distribution_df = pd.read_csv(csvfile2)
distribution_df = distribution_df.dropna()
distribution_df['Vaccine Distribution Zipcodes'] = distribution_df['Vaccine Distribution Zipcodes'].astype(int)
#type(distribution_df['Vaccine Distribution Zipcodes'][1])
distribution_df = distribution_df[['Distribution Location','Vaccine Distribution Zipcodes']].groupby('Vaccine Distribution Zipcodes').count().reset_index()

distribution_df = distribution_df.rename(columns={'Vaccine Distribution Zipcodes': 'POSTCODE'})
distribution_df

distribution_vs_salary_df = pd.merge(distribution_df, main_clean_salary_df, on='POSTCODE', how='inner')
distribution_vs_salary_df

,POSTCODE,Distribution Location,Unnamed: 0,Total Population,Total Case Count,% Cases Over Age 18,% Cases Over Age 65,Total Cases Category,Total Vaccinated,Total Vaccinated Category,Median Household Income
0,85004,3,1,7164,969,63.68,61.45,501-1000,4281,"1,001-5,000",41951
1,85006,5,2,27206,3272,35.85,54.55,Greater Than 1000,6780,"5,001-10,000",38121
2,85007,1,3,14428,2424,41.44,63.91,Greater Than 1000,4719,"1,001-5,000",34667
3,85008,4,4,62340,9079,33.01,56.27,Greater Than 1000,14187,"Greater Than 10,000",43574
4,85009,1,5,51711,8606,23.48,61.29,Greater Than 1000,9266,"5,001-10,000",32893
...,...,...,...,...,...,...,...,...,...,...,...
192,86413,1,346,13173,1285,22.87,36.47,Greater Than 1000,3251,"1,001-5,000",38292
193,86426,3,347,14928,1746,30.12,51.01,Greater Than 1000,3882,"1,001-5,000",50535
194,86440,1,356,7028,1016,29.04,48.25,Greater Than 1000,1494,"1,001-5,000",47437
195,86442,9,358,33895,4071,27.17,48.51,Greater Than 1000,7922,"5,001-10,000",39600
196,86511,1,366,3680,1-10,0.19,0.00,1-10,1-10,1-10,29617